@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CeraPro';
  src: url('/fonts/cerapro-black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'CeraPro', sans-serif;
}